* {
  background-color: darksalmon;
  margin: 0;
  padding: 0;
}

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 15%;
}

.login-data {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  margin-top: 10%;
}

.login-button {
  align-items: center;
  background-color: brown;
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 40%;
  padding-right: 40%;
}
