* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.profile-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.btn-profile {
  background-color: rgb(226, 225, 225);
  border-radius: 12px;
  height: 35px;
  margin-top: 12px;
  width: 75%;
}
